fastapi
uvicorn[standard]
pydantic>=2
pydantic-settings>=2
SQLAlchemy>=2
asyncpg
alembic
psycopg2-binary
passlib>=1.7.4
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
email-validator
pydantic[email]
python-dotenv