.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.login-card {
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  width: 24rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  font-family: Arial, Verdana, sans-serif;
}

.login-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #000000; 
  font-family: Arial, Verdana, sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  font-family: Arial, Verdana, sans-serif;
}

.login-input {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  margin-bottom: 1.25rem;
  width: 100%;
  font-size: 1rem;
}

.login-button {
  background-color: #4A75B5;
  color: rgb(0, 0, 0);
  padding: 0.75rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
  font-family: Arial, Verdana, sans-serif;
}

.login-button:hover {
  background-color: #376097;
}

.input-password-container {
  position: relative;
  width: 100%;
}


.password-input {
  padding-right: 48px !important; 
  height: 45px;                
  line-height: 45px;            
}


.toggle-password {
  position: absolute;
  right: 12px;
  bottom: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #7a7a7a;
  font-size: 1.2rem;

}

.toggle-password:hover {
  color: #000;
}
